html {
  height: 100%;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
}
body {
  width: 100%;
  height: 100%;
  font-family: $font-family;
  @include font(16);
  line-height: 1;
  color: $font-base-color;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}
p {
  @include font(16);
  @include CrimsonTextReg;
  line-height: 1.5;
  @media (max-width: $bigPhone) {
    @include font(14);
  }
}
span {
  @include font(12);
  @include CrimsonTextReg;
  letter-spacing: 0.9px;
}
h1 {
  @include font(24);
  @include CabinBold;
  line-height: 30px;
  letter-spacing: 2px;
  @media (max-width: $bigPhone) {
    @include font(20);
  }
}
h2 {
  @include font(22);
  @include MontserratMedium;
  line-height: 1.2;
  letter-spacing: 1px;
}
h3 {
  @include font(20);
  @include MontserratMedium;
  line-height: 1.2;
  letter-spacing: 1px;
}
.wrapper {
  position: relative;
  max-width: rem(1024);
  width: 100%;
  margin: 0 auto;

  @media (max-width: $bigTablet) {
    padding: 0 rem(40);
  }

  @media (max-width: $smallTablet) {
    padding: 0 rem(30);
  }

  @media (max-width: $bigPhone) {
    padding: 0 rem(20);
  }
}