/* Primary colors */
$white: #fff;
$font-base-color: #333;
$black: #000;

/* Typography */
$font-family: 'Crimson Text', serif;
$font-size: 16;
$font-size-base: 1rem;
$line-height-base: 1.5;

/* Media queries */
$extraSmall: 340px;
$smallPhone: 400px;
$bigPhone: 480px;
$smallTablet: 768px;
$bigTablet: 1024px;
$smallDesktop: 1280px;
$middleDesktop: 1366px;
$bigDesktop: 1440px;
$largeDesktop: 1600px;
$extraDesktop: 1900px;

$body-width: 1280;
$body-height: 640;
