input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  font-family: $font-family;
  @include font(16);
  letter-spacing: normal;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  box-shadow: none;
  color: $black;

  &:focus {
    border-color: $white;
  }
}

textarea {
  resize: none;
}

.field,
.textarea {
  position: relative;
  min-width: rem(248);
  max-width: 100%;
  height: rem(40);
  transition: all 0.2s ease;

  &__label {
    position: absolute;
    top: 50%;
    @include CabinReg;
    @include font(16);
    font-weight: normal;
    color: $black;
    transform: translate(0, -50%);
    transform-origin: left center;
    white-space: nowrap;
    cursor: text;
    transition: all 0.2s ease;

    &-text {
      pointer-events: none;
    }
  }

  &:hover {
    .field__label {
      @include CabinMedium;
    }
  }

  &__input {
    padding: 0 rem(4) 0 0;
    line-height: rem(40);
    border-bottom: 1px solid $black!important;
    color: $black;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      border-bottom: 1px solid $black!important;
      -webkit-text-fill-color: $black;
      -webkit-box-shadow: 0 0 0px 1000px $white inset;
    }
  }

  &.is-filled {
    .field__input, .textarea__field {
      border-color: rgba($black, 0.2)!important;
    }

    .field__label,
    .textarea__label {
      color: $black;
      opacity: 0.5;
      top: rem(-8);
      transform: scale(0.625) translate(0.05rem, 0);
    }
  }

  &.is-focus {
    .field__label,
    .textarea__label {
      color: $black;
      opacity: 0.5;
      top: rem(-8);
      transform: scale(0.625) translate(0.05rem, 0);
    }
  }

  &.error {
    .field__input {
      border-color: #ff8080!important;
    }
  }
}

.textarea {
  width: calc(100% - 24px);
  height: 100%;
  padding-top: rem(10);

  &__field {
    width: calc(100% + 24px);
    height: 100%;
    border-bottom: 1px solid $black!important;
    padding: 0 0 rem(23);
    @media (max-width: 340px) {
      width: 100%;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba($black, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $black;
    }
  }

  &__label {
    top: rem(10);
    transform: none;
  }
}
.error-text {
  margin-top: rem(4);
  @include CabinMedium;
  @include font(11);
  line-height: 1.45;
  color: #ff8080;
}
