.footer {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #161616;
}
.footer-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: rem(30) 0;
  border-bottom: 1px solid #A4A4A4;
  @media (max-width: $smallTablet) {
    flex-direction: column;
  }
  &__nav {
    display: flex;
    @include font(14);
    @include MontserratBold;
    letter-spacing: 1px;
    @media (max-width: $smallTablet) {
      margin-bottom: rem(20);
    }
    @media (max-width: $bigPhone) {
      justify-content: center;
    }
    li {
      margin: 0 rem(15) 0 0;
      @media (max-width: $smallPhone) {
        margin: 0 rem(10) 0 0;
      }
      a {
        color: #eee;
        transition: 0.3s ease;
        &:hover {
          color: #556B2F;
        }
        &:after {
          background-color: #556B2F;;
          display: block;
          content: "";
          height: 2px;
          width: 0%;
          -webkit-transition: width .3s ease-in-out;
          -moz--transition: width .3s ease-in-out;
          transition: width .3s ease-in-out;
        }
        &:hover:after,
        &:focus:after {
          width: 100%;
        }
      }
    }
  }
  &__contact {
    display: flex;
    @include font(14);
    @include MontserratBold;
    letter-spacing: 1px;
    @media (max-width: $smallTablet) {
      align-self: flex-end;
    }
    @media (max-width: $bigPhone) {
      align-self: center;
    }
  }
}
.contact-us {
  @include font(14);
  @include MontserratBold;
  margin-bottom: rem(10);
  margin-right: rem(20);
  color: #eee;
  line-height: 1;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .mail, .back-call {
      display: inline;
      padding-bottom: rem(10);
      color: #eee;
      transition: 0.3s ease;
      &:hover {
        color: #556B2F;
      }
      &:after {
        background-color: #556B2F;;
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
      }
      &:hover:after,
      &:focus:after {
        width: 100%;
      }
    }
  }
}

.footer-social {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(30) 0;
}
.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: rem(100);
  height: rem(16);
  margin-bottom: rem(20);
  a:hover {
    opacity: 0.6;
  }
  .facebook {
    width: rem(8);
    height: rem(16);
    background-image: svg-load('../svg/social/facebook.svg');
    background-size: cover;
  }
  .twitter {
    width: rem(16);
    height: rem(13);
    background-image: svg-load('../svg/social/twitter.svg');
    background-size: cover;
  }
  .instagram {
    width: rem(16);
    height: rem(16);
    background-image: svg-load('../svg/social/instagram.svg');
    background-size: cover;
  }
  .tumblr {
    width: rem(9);
    height: rem(16);
    background-image: svg-load('../svg/social/tumblr.svg');
    background-size: cover;
  }
}
.ergo {
  @include font(13);
  @include MontserratBold;
  color: #eee;
}
