.about-section, .gallery-section, .philosophy-section, .blog-section {
  position: relative;
  width: 100%;
  height: 100%;
}
.about {
  position: relative;
  padding: rem(40) rem(10);
  &__header {
    margin-bottom: rem(30);
    text-align: center;
    text-transform: uppercase;
  }
  &__content {
    margin: 0 auto;
    max-width: rem(700);
    text-align: center;
  }
}
.gallery {
  width: 100%;
  height: 100%;
  background: #f9f9f9;
}
.gallery-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: rem(40);
}
.gallery-container__block {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: rem(40);
  @media (max-width: $smallTablet) {
    width: 47%;
  }
  @media (max-width: $bigPhone) {
    width: 100%;
  }
  &_img {
    position: relative;
    width: 100%;
    overflow: hidden;
    &:after {
      content: '';
      padding-top: 100%;
      float: left;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(15) rem(3);
    background: $white;
    h3 {
      margin-bottom: rem(6);
    }
    span {
      text-transform: uppercase;
    }
  }
}
.gallery-link {
  margin-bottom: rem(40);
}

.philosophy {
  position: relative;
  padding: rem(40) rem(10) rem(80);
  @media (max-width: $smallTablet) {
    padding: rem(40) rem(10) rem(40);
  }
  &__header {
    padding-bottom: rem(30);
    text-align: center;
    text-transform: uppercase;
  }
  &__content {
    padding-bottom: rem(15);
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
    @media (max-width: $smallTablet) {
      -webkit-columns: 1;
      -moz-columns: 1;
      columns: 1;
      -webkit-column-gap: 0;
      -moz-column-gap: 0;
      column-gap: 0;
    }
  }
  &__quote {
    position: relative;
    padding: rem(20) rem(100) 0;
    text-align: center;
    @media (max-width: $smallTablet) {
      padding: rem(20) rem(30) 0;
    }
    &:before {
      top: 0;
      left: 0;
      content: "\201C";
      position: absolute;
      width: 50px;
      height: 50px;
      font-size: 110px;
      line-height: 1;
      @media (max-width: $smallTablet) {
        width: 25px;
        height: 25px;
        font-size: 55px;
      }
    }
    &:after {
      top: 0;
      right: 0;
      content: "\201D";
      position: absolute;
      width: 50px;
      height: 50px;
      font-size: 110px;
      line-height: 1;
      @media (max-width: $smallTablet) {
        width: 25px;
        height: 25px;
        font-size: 55px;
      }
    }
  }
}